KAGGLE_PROFILE=main

KAGGLE_MAIN_API_TOKEN=your_main_api_token
KAGGLE_MAIN_USERNAME=your_main_username
KAGGLE_MAIN_KEY=your_main_key

KAGGLE_ALT1_API_TOKEN=your_alt1_api_token
KAGGLE_ALT1_USERNAME=your_alt1_username
KAGGLE_ALT1_KEY=your_alt1_key

KAGGLE_ALT2_API_TOKEN=your_alt2_api_token
KAGGLE_ALT2_USERNAME=your_alt2_username
KAGGLE_ALT2_KEY=your_alt2_key
